.eatery
  h3.eatery-name= name
  p.eatery-address= address
  .eatery-g-static-map
    a(href="http://maps.google.co.jp/maps?q=" + lat + "," + lng target="_blank")
      img(src="http://maps.googleapis.com/maps/api/staticmap?center=" + lat + "," + lng + "&zoom=17&markers=color:white%7C" + lat + "," + lng + "&size=320x180&scale=2&key=AIzaSyBPUZBpfVczPqaeVD8SuzFR4DvWlMd1D2k&sensor=false")
  .eatery-catch-container
    p= c
    p= genre.catch
    p= food.catch
  .eatery-link-external
    a.btn(href="//www.google.com/search?q=" + name target="_blank")
      | Google
      span.octicon.octicon-link-external
    a.btn(href= urls.pc target="_blank")
      | Hotpepper
      span.octicon.octicon-link-external
  if shop_detial_memo || other_memo
    .eatery-memo-container
      p= shop_detial_memo
      p= other_memo
