.shop
  h3.shop-name= data.name
  p.shop-address= data.address
  .shop-g-static-map
    a(href="https://maps.google.co.jp/maps?q=" + data.lat + "," + data.lng target="_blank")
      img(src="http://maps.googleapis.com/maps/api/staticmap?center=" + data.lat + "," + data.lng + "&zoom=16&markers=color:white%7C" + data.lat + "," + data.lng + "&size=320x180&scale=2&key=AIzaSyBPUZBpfVczPqaeVD8SuzFR4DvWlMd1D2k&sensor=false")
  .shop-catch-container
    p= data.catch
    p= data.genre.catch
    p= data.food.catch
  .shop-link-external
    a.btn(href="//www.google.com/search?q=" + data.name target="_blank")
      | Google
      span.octicon.octicon-link-external
    a.btn(href= data.urls.pc target="_blank")
      | Hotpepper
      span.octicon.octicon-link-external
  if data.shop_detial_memo || data.other_memo
    .shop-memo-container
      p= data.shop_detial_memo
      p= data.other_memo
